/* =========================
   Forms
   =========================*/
.text-sm {
  text-transform: uppercase;
  font-size: 11px;
  font-family: "Elektra_Text_Pro";
  letter-spacing: 0.4px;
}

.text-b, .btn-more {
  text-transform: uppercase;
  color: #283D4E;
  letter-spacing: 0.5px;
}

.list {
  padding: 0;
  margin: 0;
  overflow: visible;
}
.list li {
  padding: 0;
  margin: 0;
  line-height: 14px;
  font-size: 12px;
  color: #000;
}
.list li:before {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  display: none;
  background: none;
}

.ps, .checkbox .custom-checkbox:before, .btn-more i:after, .close:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
}

/* ---------------
    Inputs
    -------------- */
.form-text {
  position: relative;
}
.form-text.req:after {
  content: "*";
  display: block;
  position: absolute;
  right: -14px;
  top: -1px;
  font-size: 14px;
  color: #6D6D6D;
  font-family: Arial;
}
.form-text:last-child {
  margin-bottom: 40px;
}
.form-text:last-child input, .form-text:last-child textarea {
  border-bottom: 1px solid #283D4E;
}
.form-text input, .form-text textarea {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 51px;
  padding: 0 30px;
  font-size: 14px;
  color: #6D6D6D;
  border: 1px solid #283D4E;
  border-bottom: none;
  background: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.form-text input:focus, .form-text textarea:focus {
  outline: none;
}
.form-text input::-webkit-input-placeholder, .form-text textarea::-webkit-input-placeholder {
  color: #6D6D6D;
}
.form-text input:-moz-placeholder, .form-text textarea:-moz-placeholder {
  color: #6D6D6D;
}
.form-text input::-moz-placeholder, .form-text textarea::-moz-placeholder {
  color: #6D6D6D;
}
.form-text input:-ms-input-placeholder, .form-text textarea:-ms-input-placeholder {
  color: #6D6D6D;
}
.form-text textarea {
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 14px 30px;
  height: 148px;
  line-height: 17px;
}
@media (max-width: 1023px) {
  .form-text {
    margin-bottom: 10px;
  }
  .form-text.req:after {
    top: 5px;
    right: 5px;
  }
  .form-text:last-child {
    margin-bottom: 10px;
  }
  .form-text input, .form-text textarea {
    border-bottom: 1px solid #283D4E;
    height: 42px;
    line-height: 42px;
    padding: 0 12px;
  }
  .form-text textarea {
    height: 122px;
    padding: 14px 12px;
    line-height: 17px;
  }
}

.form-bottom .button {
  float: left;
}
.form-bottom .help {
  float: right;
  padding: 21px 60px 0 0;
  color: #202527;
}
@media (max-width: 1023px) {
  .form-bottom .button {
    float: none;
    display: block;
    width: 100%;
  }
  .form-bottom .help {
    margin-bottom: 20px;
    padding: 17px 0 0;
  }
}

/* ---------------
    Checkbox
    -------------- */
.checkbox {
  position: relative;
  margin-bottom: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox .checkbox-text {
  display: block;
  padding-left: 31px;
  color: #283D4E;
  line-height: 15px;
  min-height: 21px;
}
.checkbox .checkbox-text i {
  font-style: normal;
  color: #C3C3C3;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type=checkbox]:checked + .custom-checkbox {
  border-color: #C72529;
}
.checkbox input[type=checkbox]:checked + .custom-checkbox:before {
  display: block;
  background-color: #C72529;
}
.checkbox .custom-checkbox {
  position: absolute;
  top: -2px;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #C3C3C3;
}
.checkbox .custom-checkbox:before {
  display: none;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #C72529;
}
.checkbox.disabled .checkbox-text {
  color: #aaa;
}
.checkbox.disabled input[type=checkbox]:checked + .custom-checkbox {
  border-color: #c3c3c3;
}
.checkbox.disabled input[type=checkbox]:checked + .custom-checkbox:before {
  background-color: #c3c3c3;
}

/* ---------------
    Buttons
    -------------- */
.btn-more {
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  border: 1px solid #E1E1E1;
  display: block;
  position: relative;
  text-align: center;
  height: 50px;
  line-height: 49px;
  padding-right: 49px;
  text-decoration: none;
}
.btn-more i {
  border-left: 1px solid #E1E1E1;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 49px;
  height: 100%;
}
.btn-more i:after {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left-color: #283D4E;
  pointer-events: none;
  border-right: 1px solid #283D4E;
  border-top: 1px solid #283D4E;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  left: 50%;
  top: 50%;
  margin: -3px 0 0 -3px;
}
.btn-more:hover {
  background-color: #F9C64B;
}
.btn-more:hover i {
  border-color: #283D4E;
}

.btn-all {
  border: 1px solid #E1E1E1;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  display: block;
  text-align: center;
  height: 60px;
  font-family: "Elektra_Text_Pro";
  color: #283D4E;
  font-size: 13px;
  white-space: nowrap;
  line-height: 61px;
  padding-right: 11px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-all i {
  position: absolute;
  display: block;
  width: 7px;
  height: 7px;
  border-left-color: #283D4E;
  pointer-events: none;
  border-right: 1px solid #283D4E;
  border-top: 1px solid #283D4E;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: inline-block;
  top: 25px;
  margin-left: 6px;
}
.btn-all:hover {
  background-color: #F9C64B;
  border-color: #F9C64B;
}

.btn-r {
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  display: block;
  width: 83px;
  height: 83px;
  background-color: #C72529;
}
.btn-r:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-left-color: #fff;
  pointer-events: none;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
}
.btn-r:hover {
  background-color: #F9C64B;
}
.btn-r:hover:after {
  border-color: #283D4E;
}

.close {
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  width: 50px;
  height: 48px;
  background-color: #283D4E;
  cursor: pointer;
}
.close:after {
  background: url(../images/sprites.png) 0 0;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
}
.close:hover {
  background-color: #F9C64B;
}

.button {
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  padding: 0;
  width: 200px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #283D4E;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background: #F9C64B;
  border: 1px solid #F9C64B;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button:hover {
  background: #fff;
  color: #F9C64B;
}
@media (max-width: 1023px) {
  .button {
    height: 60px;
    line-height: 60px;
  }
}

.btn-wrap {
  display: table;
  width: 100%;
  text-align: center;
}

/* ---------------
    Popups
    -------------- */
body.modal-open {
  background-color: #fff;
}

.modal-dialog {
  text-align: left;
  margin: 100px auto;
}
.modal-dialog .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: auto;
  height: auto;
  background: none;
  color: #3F5261;
}
.modal-dialog .close:after {
  display: none;
}
.modal-dialog .close span {
  background: url(../images/sprites.png) 0 -21px;
  display: block;
  width: 29px;
  height: 29px;
}
.modal-dialog .close:hover span {
  background-position: -31px -21px;
}
.modal-dialog.modal-call {
  width: 670px;
}

@media (max-width: 1023px) {
  .modal-dialog {
    margin-top: 30px;
  }
  .modal-dialog .close {
    top: 8px;
    right: 9px;
  }
  .modal-dialog .close span {
    background: url(../images/sprites.png) -51px 0;
    width: 16px;
    height: 16px;
  }
  .modal-dialog.modal-call {
    width: 280px;
  }
}
.modal-header {
  padding: 48px 70px 37px;
}
.modal-header .modal-title {
  font-size: 26px;
}
@media (max-width: 1023px) {
  .modal-header {
    padding: 28px 17px 19px;
  }
  .modal-header .modal-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.modal-body {
  padding: 0 70px 40px;
}
@media (max-width: 1023px) {
  .modal-body {
    padding: 0 17px 20px;
  }
}

/*# sourceMappingURL=forms.css.map */
